body {
  background-color: #263248;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;

  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-style: semibold;
  font-size: 96px;
  margin-left: 190px;
  margin-bottom: 15px;
}
h2 {
  font-style: semibold;
  font-size: 48px;
  margin-left: 190px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.textintrodusion {
  font-style: semibold;
  font-size: 24px;
  margin-left: 190px;
  margin-top: 0px;
}
.introdusion {
  background-image: url(introdusion.png);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: 100%;

}
.header {
  position: sticky;
  top: 0;
  z-index: 6;
  white-space: nowrap;
}
.navbar {
  background-color: #1d2022;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 80px;
}
.logo {
  font-size: 20;
  text-decoration: none;
  color: #edecf1;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}
.menu a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0px 10px;
  border: 0px solid transparent;
  border-radius: 16px;
}
.menu a.activ:hover {
  color: #ffd38f;
}
.me {
  padding: 25px;
  padding-bottom: 80px;
  background: #edecf1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-4.92deg);
  width: 20%;
}
.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
.block2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #9d613f;
  gap: 110px;
  min-height: 110vh;
  padding: 0px 110px;
  justify-content: center;
}
.textblock2 {
  float: right;
}
.fhiona {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(7.09deg);
  padding: 25px 25px 80px;
  gap: 10px;
  float: right;
  width: 20%;
}
.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.parrot {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.names {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 29px;
}
.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  list-style-type: square;
}
.extra {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #758a9f;
}
.textblock3 {
  float: left;
}
.block3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #263248;
  gap: 110px;
  min-height: 110vh;
  padding: 0px 110px;
  justify-content: center;
}
.sushi {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-8.61deg);
  padding: 25px 25px 80px;
  width: 20%;
}
.food {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.block4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #9d613f;
  gap: 110px;
  min-height: 110vh;
  min-width: 110vh;
  padding: 0px 110px;
  justify-content: center;
}
.h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.textphoto {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.photo1 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(1.41deg);
  width: 20%;
}
.photo2 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-8.64deg);
  width: 20%;
}
.photo3 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-7.23deg);
  width: 20%;
}
.photo4 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(2.63deg);
  width: 20%;
}
.photo5 {
  padding: 25px 25px 80px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(13.13deg);
  width: 20%;
}
.photofirst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 110px;
}
.photosecond {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 41px;
  justify-content: center;
}
.block5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
  padding: 0px 110px;
  justify-content: center;
  gap: 90px;
  background: #263248;
}
.photo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  isolation: isolate;
}
.textcontacts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
.linkcontacts {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  text-decoration: none;
  color: #ffffff;
}
.link {
  flex-direction: row;
  align-items: center;
  align-items: center;
}
.block6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #1d2022;
  min-height: 50vh;
  padding: 0px 110px;
  justify-content: center;
}
.steam {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 0px;
  gap: 14px;
}
.behance {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.instagram {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.telegram {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.links {
  text-decoration: none;
  color: #ffffff;
}
.me:hover {
  transform: rotate(-2deg);
}
.fhiona:hover {
  transform: rotate(5deg);
}
.sushi:hover {
  transform: rotate(-5deg);
}
.photo1:hover {
  transform: rotate(-2deg);
}
.photo2:hover{
  transform: rotate(-3deg);
}
.photo3:hover{
  transform: rotate(-4deg);
  
}
.photo4:hover{
  transform: rotate(4deg);

}
.photo5:hover{
  transform: rotate(9deg);
}
.extra2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #BF9279;
}
